/* Admin Styles for CC2 Pro Administration Screen */
.cc2pro {
    padding-right: 1.2em;
}
.cc2pro h1.welcome {
    margin: 30px 0;
    line-height: 1.2em;
    font-size: 2.8em;
    font-weight: 400;
}
.cc2pro .lead {
    font-size: 19px;
    line-height: 1.5556;
    font-weight: 200;
    margin-bottom: 30px;
}
.cc2pro .light {
    color: #888;
}
.cc2pro .gray {
    color: #333;
}
.cc2-premium-info.message.updated {
    margin: 25px 0 35px 0;
    height: 102px;
    background-color: #fff;
    border: 0;
    border-radius: 0;
    border-left: 4px solid #7ad03a;
    -webkit-box-shadow: 0 1px 1px 0 rgba(0,0,0,.1);
    box-shadow: 0 1px 1px 0 rgba(0,0,0,.1);
    padding: 1px 12px;
}
.cc2pro .message.updated.note {
    border-color: #2ea2cc;
    margin-left: 0;
}
.cc2-premium-info.message.updated h3 {
    font-size: 2em;
    font-weight: 400;
    margin: 30px 0 0 0;
}
.cc2-support-wrap.updated {
    margin-left: 0;
}
.cc2-support-wrap h3 {
    font-size: 19px;
    font-weight: 400;
    margin: 10px 0 15px 0;
}
.cc2pro .three_col {
    margin: 20px 0;
}
.cc2pro .three_col .col {
    position: relative;
    width: 310px;
    margin-right: 10px;
    float: left;
    margin-bottom: 20px;
    min-height: 240px;
    min-width: 310px;
    padding: 20px 10px 25px;
    background: #fff;
    box-shadow: 1px 1px 1px rgba(0,0,0,0.2);
}
.cc2pro .three_col .col .button {
    margin: 15px 0 5px 0;
}
.cc2pro .three_col .col h2 {
    margin: 20px 0;
}
@media screen and (max-width: 782px) {
    .cc2pro .three_col .col {
        width: 100%;
        margin: 0;
        float: none;
        margin-bottom: 40px;
    }
}
.cc2pro .dummy {
    width: 300px;
    height: 200px;
    background: #fff;
    margin: 0 0 20px 0;
    border: 1px solid #ddd;
    display: none;
}
.cc2pro .dummy.dummy-left {
    width: 300px;
    background: e3e3e3;
    float: left;
    margin: 0 20px 20px 0px;
    display: inline-block;
}
.cc2pro .button.coming,
.cc2pro .button.coming:hover {
    color: #999;
    background: #eee;
    border: 1px solid #ccc;
    box-shadow: none;
    cursor: default;
}
.cc2pro .button.note,
.cc2pro .button.note:hover {
    background-color: #d9edf7;
    border-color: #bce8f1;
    color: #4f939b;
    box-shadow: none;
    cursor: default;
    font-style: italic;
}
.cc2pro .coming h2,
.cc2pro .coming p {
    color: #999;
}
.cc2pro .cc2status {
    margin: 20px 0 10px;
    padding: 10px 4px 8px 4px;
    clear: both;
    display: block;
    background: #fff;
    border-top: 1px solid #eee;
    /* box-shadow: 1px 1px 1px rgba(0,0,0,0.3); */
    /* border-radius: 25px; */
    overflow: auto;
    border-bottom: 1px solid #eee;
}
.cc2pro .cc2status .cc2message {
    font-style: italic;
    color: #aaa;
    margin: 0px 0 0 0;
    padding: 0;
    line-height: 13px;
    font-weight: normal;
}
.cc2pro .statusball {
    float: left;
    margin-right: 10px;
    width: 14px;
    height: 14px;
    border-radius: 50px;
    background: #c3c3c3;
    border: 1px solid #888;
}
.cc2pro .statusball.red {
    background: #efefd5;
    border-color: #e5d9d0;
}
.cc2pro .statusball.red.on {
    background: #d54e21;
    border-color: #c43413;
}
.cc2pro .statusball.yellow {
   background: #efefd5;
   border-color: #ddddc9;
}
.cc2pro .statusball.yellow.on {
    background: #efef4c;
    border-color: #cec542;
}
.cc2pro .statusball.green {
   background: #dfe8d7;
   border-color: #c5ceb7;
}
.cc2pro .statusball.green.on {
    background: #a3e82e;
    border-color: #86ce29;
}
.cc-premium_page_cc2-options h2 {
    margin: 30px 0;
    line-height: 1.2em;
    font-size: 2.8em;
    font-weight: 400;
    color: #444;
    padding: 0;
}
.cc2-premium_page_cc2-options .wrap {
    margin: 10px 20px 0 0;
}
.cc2tip-13inch {
    color: #999;
    height: 20px;
    overflow: hidden;
    cursor: pointer;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}
.cc2tip-13inch:hover,
.cc2tip-13inch:focus {
    cursor: pointer;
    height: 120px;
    overflow: hidden;
}
#cc2_get_personal_help,
#cc2_get_more,
.section-get-pro,
.seriously {
    display: none;
    
}

	.settings-box {
		display: block;
		max-width: 80%;
		padding: 20px 10px;
		margin-top: 1.5em;
	}
	
		.settings-box h3,
		.settings-box h4 {
			margin-top: 0;
		}

	/**
	 * Mostly copied from plugin overview => .active
	 */
	.settings-box.settings-field-active { 
		border: 1px solid #2EA2CC;
		background-color: #F7FCFE;
		box-shadow: 0 -1px 0 rgba(0, 0, 0, 0.1) inset;
		border-left: 4px solid #2EA2CC;
	}


	#wpwrap .table-result {
		margin-top: 10px;
		background-color: #fafafa;
	}

		#wpwrap .table-result th,
		#wpwrap .table-result td {
			padding: 1%;
			margin: 0;
		}

		#wpwrap .table-result tr:nth-child(odd) {
			background-color: #eee;
		}

		#wpwrap .table-result .result-title-row {
			font-size: 125%;
			margin-bottom: 10px;
		}
		
			#wpwrap .table-result .col-status-error {
				background-color: #fcc;
			}
			
			#wpwrap .table-result .col-status-success {
				background-color: #cfc;
			}


.control-section #customize-control-alert_less_mode label span.customize-control-title.description em {
	font-weight: bold !important;
	font-size: 125% !important;
	font-style: normal !important;
	text-align: justify;
}
